.componentContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
    width: 1000px;
  }

  .dark-mode .componentContainer{
    border: 2px solid rgb(173, 173, 173);
  }
  
  .thumbnail {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .onTrack {
    color: green;
    font-weight: bold;
    text-align: center;
  }
  
  .student-info {
    text-align: center;
    font-weight: bold;
  }
  
  li {
    list-style: none;
    margin: 20px 0px;
  }

  .student-detail-link{
    text-decoration: none;
  }

  
  