.wrapper{
    display: flex;
    flex-direction: column;
}

.student-info-body{
    display: flex;
}

.dark-mode .student-info-body{
    background: #1e1e1e;
    color: white;
    padding-bottom: 130px;
}

.dark-mode .wrapper{
    background: #1e1e1e;
}
.dark-mode-button{
    width: fit-content;
    background: #1e1e1e;
    margin-right: 10px;
    color: white;
}

.dark-mode .dark-mode-button{
    background: white;
    color: #1e1e1e;
}

.button-container{
    padding: 10px;
}

.dark-mode .button-container{
    background: #1e1e1e;
    padding: 10px;
}

